# Select Model
BASE_URL='https://app.irona.ai'
IRONLABS_AI_API_KEY = 'IRONLABS_AI_API_KEY' # generate your API key at https://app.irona.ai
OPENAI_API_KEY= 'OPENAI_API_KEY' # generate your API key at https://openai.com/api
TOGETHER_API_KEY= 'TOGETHER_API_KEY' # generate your API key at https://api.together.ai
REPLICATE_API_KEY= 'REPLICATE_API_KEY' # generate your API key at https://replicate.com
ANTHROPIC_API_KEY= 'ANTHROPIC_API_KEY' # generate your API key at https://anthropic.com
GOOGLE_API_KEY= 'GOOGLE_API_KEY' # generate your API key at https://ai.google.dev/
MISTRAL_API_KEY= 'MISTRAL_API_KEY' # generate your API key at https://console.mistral.ai/
